@import '../../../shared/style/colors';
@import '../../../shared/style/fonts';

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 0px;

  ul {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 16px;

    li {
      list-style: none;

      span {
        font-family: $primary_font_family;
        color: $small_text_color;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        padding: 8px 16px 8px 16px;
        cursor: pointer;
      }
    }

    li:hover {
      border-radius: 6px;

      span {
        transition: 0.5s;
        background-color: $hover_small_green_button;
        font-style: normal;
        font-weight: 500;
        line-height: 152.023%;
      }
    }
  }
}
