@import "src/app/shared/style/_fonts.scss";
@import "src/app/shared/style/_colors.scss";

form {
  background-color: #fff;
  padding: 24px 48px;
  font-family: $primary_font_family;
  display: flex;
  gap: 38px;
  justify-content: space-between;

  h3 {
    font-size: 20px;
    color: #444;
  }

  p {
    font-size: 12px;
    color: #484848;
    margin-top: 8px;
  }

  .column:has(input) {
    display: flex;
    align-items: center;
    gap: 32px;

    input {
      font: inherit;
      width: 416px;
      height: 48px;
      padding: 12px 24px;
      background-color: #f9f9f9;
      border-radius: 10px;
      border: 1px solid #eaeaea;

      &::placeholder {
        color: #9F9D9D;
      }
    }

    button {
      font: inherit;
      width: 247px;
      height: 48px;
      padding: 16px 32px;
      font-size: 16px;
      font-weight: 700;
      border-radius: 10px;
      background: #444;
      color: $focus_green_button;
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;

      &::before {
        // content: url("/assets/icons/shopping-cart-alt.svg");
      }

      &:hover {
        background-color: $small_text_color;
        color: $hover_green_button;
      }

      &:focus {
        background-color: $small_text_color;
        color: $hover_green_button;
      }

      &:active {
        background-color: $common_text_color;
        color: $click_green_button;
      }

      &:disabled {
        background-color: $blocked_gray_button;
        color: $blocked_light_text;
      }
    }
  }
}
