@import "src/app/shared/style/_colors.scss";

a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $hover_small_green_button;
  // box-shadow: 0px 0px 1px 0px rgba(113, 119, 132, 0.24), 0px 1px 4px 0px rgba(9, 10, 13, 0.12), 0px 1px 1px 0px rgba(9, 10, 13, 0.08);

}
