%flex-display {
    display: flex;
}
.star-rating {
    @extend %flex-display;
    align-items: center;
    font-size: 3em;
    justify-content: center;
    margin-top: 50px;
}
.back-stars {
    @extend %flex-display;
    color: #fff;
    position: relative;
    text-shadow: 
    -1px -1px 0 #FFBC0B, /* Top-left */
    1px -1px 0 #FFBC0B, /* Top-right */
   -1px  1px 0 #FFBC0B, /* Bottom-left */
    1px  1px 0 #FFBC0B
    ;
}
.front-stars {
    @extend %flex-display;
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    text-shadow: 1px 1px 1px #d29b09;
    top: 0;
    transition: all .5s
}

input {
    background: transparent;
    border: solid 2px #fff;
    color: #fff;
    font-size: 1.5em;
    height: 50px;
    width: 60px;
    text-align: center;
    margin-top: 50px;
    margin-right: 10px;
    
    &:focus {
        outline: none;
    }    
}

.percent {
    color: #fff;
    font-size: 1.5em;
}