<aside>
  <nav>
    <img src="../../../assets/SUBSkill.svg" alt="" />
    <ul>
      <li *ngFor="let icon of iconOrder">
        <icon-side-bar [icon]="icons[icon]"></icon-side-bar>
      </li>

      <hr />
      <li>
        <categories-side-bar></categories-side-bar>
      </li>
    </ul>
  </nav>
  <div class="languages" (click)="languageButton()">
    <div class="flex-column" [@fadeOpenCloseMain]="openCloseLanguage">
        <div class="flex-row">
            <span  class="main-language">{{ languageEnglish ? 'English' : 'Not English' }}</span>
            <div class="arrow" 
            [ngStyle]="{
              'mask': arrows[openCloseLanguage]
            }"
            ></div>
        </div>
        
        <ul [@fadeInOut]="openCloseLanguage">
            <li (click)="setLanguage(true)" 
            [ngStyle]="{
              'color': languageEnglish?'':'#A9A9A9'
            }"
            >English</li>
            <li (click)="setLanguage(false)"
            [ngStyle]="{
              'color': languageEnglish?'#A9A9A9':''
            }"
            >Not English</li>
        </ul>
    </div>
  </div>
</aside>
