$normal_green_button: #53CA3E;
$hover_green_button: #53E63E;
$click_green_button: #47AB35;
$focus_green_button: #53E63E;
$hover_small_green_button: #EEFCEC;
$background_color: #F3F3F3;
$gray_text: #595E69;
$small_text_color: #626161;
$common_text_color: #444444;
$blocked_gray_button: #A9A9A9;
$blocked_light_text: #D9D9D9;
