@import "../../../shared/style/colors";
@import "../../../shared/style/fonts";

.horizontal-card {
  border-radius: 20px;
  display: flex;
  width: 848px;
  height: 258px;
  background-color: #fff;
  font-family: $primary_font_family;
  overflow: hidden;

  &__img {
    width: 306px;
    flex-shrink: 0;
    height: 100%;
    background: url("../../../../assets/images/test-card-img.jpeg") center/cover no-repeat;
  }

  &__details {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 542px;
    color: $gray_text;
  }

  &__rating-block {
    display: flex;
  }

  &__rating {
    margin: 0 4px 0 8px;
    font-weight: 500;
  }

  &__bookmark {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    height: 44px;
    aspect-ratio: 1/1;
    background-color: $hover_small_green_button;

    i {
      font-size: 20px;
      color: $normal_green_button;
    }
  }

  &__text-content {
    width: 100%;
  }

  &__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: $common_text_color;
  }

  &__description {
    height: 48px;
    margin: 8px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
  }

  &__info-row {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $common_text_color;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

    .uil-clock-three {
      display: inline-block;
      font-size: 16px;
    }
  }

  &__time {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 16px;
  }

  &__level {
    display: flex;
    gap: 8px;
    text-transform: capitalize;

    &::before {
      content: "·";
    }

    &::after {
      content: "·";
    }
  }

  &__price {
    color: $normal_green_button;
    font-size: 20px;
    font-weight: 700;
  }

  &__buy {
    padding: 12px 24px;
    background-color: $common_text_color;
    color: $focus_green_button;
    border: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $small_text_color;
      color: $hover_green_button;
    }

    &:focus {
      background-color: $small_text_color;
      color: $hover_green_button;
    }

    &:active {
      background-color: $common_text_color;
      color: $click_green_button;
    }

    &:disabled {
      background-color: $blocked_gray_button;
      color: $blocked_light_text;
    }
  }
}
