@import '../../../shared/style/colors';
@import '../../../shared/style/fonts';

.carousel {
  max-width: 1201px;
  min-width: 1200px;
  width: auto;
}

.carousel-wrapper {
  width: 100%;

  height: 308px;
  overflow: hidden;

  overflow: hidden;
  position: relative;
  .carousel-block {
    position: relative;
    width: 100%;
    height: 272px;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: $primary_font_family;

    background: url('../../../../assets/images/test-card-img.jpeg') center/cover
      no-repeat;

    padding: 40px 16px 40px 32px;
    gap: 16px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.42) 6%,
        rgba(53, 53, 53, 0.330173) 34%,
        rgba(249, 249, 249, 0) 72.5%
      );
    }

    &__title,
    &__description,
    &__time,
    &__rating-block {
      position: relative;
      z-index: 2;
    }
    &__title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 700;
      font-size: 32px;
      line-height: 130%; //41.6px;
      color: $banner-white;
    }
    &__rating-block {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: baseline;
      flex-direction: row;
    }
    &__best-price {
      padding: 12px 32px 12px 32px;
      margin-right: -16px;
      border-radius: 100px 0px 0px 100px;
      background: $accent-root;
      font-family: $primary_font_family;
      font-size: 16px;
      font-weight: 600;
      line-height: 150%; //24px;
      letter-spacing: 0em;
      color: $common_text_color;
      position: absolute;
      right: 0;
      text-align: left;
    }

    &__description {
      overflow: hidden;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%; //30px
      color: $banner-white;
    }
    &__time {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      background-color: $banner-white;
      border-radius: 100px;
    }
  }
}
